[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
flask-cors = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "flask run --port ${PORT}"
start = "gunicorn --bind 0.0.0.0:$PORT app:app"
test = "pytest ."
test_coverage = "pytest --cov-report  term-missing --cov=."
